body
{
  background: linear-gradient(180deg, #87CEFA, #C9DFEC	);
  background-attachment: fixed;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.header
{
  /* font-weight: 500; */
  margin: 10px;
  padding: 5px;
  /* background-color: rgb(9, 171, 235); */
}